@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

body {
  background-color: rgb(24 24 27);
  font-size: 1.5rem;
  height: 100%;
  color: rgb(228 228 231);
}

.fade-enter {
  opacity: 0.1;
  display: none;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  overflow: hidden;
  transition: all 350ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  overflow: hidden;
}

.fade-exit.fade-exit-active {
  opacity: 0.1;
  transition: all 350ms;
}
